<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
    <title>{% block title %}ClusterCast{% endblock title %}</title>
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    <div class="header">
        <h1>ClusterCast</h1>

        <div class="header-buttons">
            <a href="/cluster-run" class="header-button">Create Group</a>
            <a href="/cluster-group" class="header-button">View Group</a>
            <a href="/forcast" class="header-button">Predict</a>
        </div>
    </div>

    <div class ="parent-container">
        <div id="loader" class="loader"></div>
        {% block content %}{% endblock content %}
    </div>



    {% block javascript %}
        <script>
            // JavaScript to show and hide the loader
            function showLoader() {
                document.getElementById('loader').style.display = 'block';
                console.log('showing loader');  
            }

            function hideLoader() {
                document.getElementById('loader').style.display = 'none';
            }
        </script>
    {% endblock javascript %}

</body>
</html>
