<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
    <title>{% block title %}ClusterCast{% endblock title %}</title>
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>
    <div class="header">
        <h1>ClusterCast</h1>
    </div>
    {% block content %}
    <!-- Replaceable content goes here -->
    {% endblock content %}
</body>
</html>
