{% extends 'ClusterPipeline/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/visualization_styles.css' %}">
        <!-- Include any additional CSS or JS specific to cluster_group.html -->
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <style>

        /* Left side content styles (if exists) */
        .top-content {
            width: 100%; /* Full width */
            /* Additional styles for top content */
            padding: 20px;
            box-sizing: border-box;
        }
    </style>
{% endblock extrahead %}


{% block content %}

    <div class="top-content">
        cluster
    </div>

{% endblock content %}
