{% extends 'ClusterPipeline/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/visualization_styles.css' %}">
        <!-- Include any additional CSS or JS specific to cluster_group.html -->
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <style>

        /* Left side content styles (if exists) */
        .top-content {
            width: 100%; /* Full width */
            /* Additional styles for top content */
            padding: 20px;
            box-sizing: border-box;
        }
        .data-visualization {
            display: flex;
            flex-direction: column; /* Stack children vertically */
            width: 100%; /* Full width of the parent */
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto; /* Vertical scroll for overflow */
        }
        .parent-container {
            display: flex;
            flex-direction: column; /* Align children horizontally */
            height: calc(100% - 50px); /* Adjust based on header height */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #3498db ;
        }
    </style>
{% endblock extrahead %}


{% block content %}
    <!-- Include the cluster visualization template -->


        <!-- Left side content (if exists) -->


    <div class="top-content">
        <!-- Other content goes here -->
        <form method="post" action="{% url 'ClusterCast-cluster-group' %}">
            {% csrf_token %}
            <select id="dataSelection" name="cluster_group">
                {% for item in menu_items %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="loadDataButton" onclick="showLoader()">Load Data</button>
        </form>
    </div>

    <!-- Data visualization container -->
    <div class="data-visualization">
        <!-- Include the cluster visualization template -->
        {% include 'ClusterPipeline/cluster_visualization.html' %}
    </div>

    <script>
        const rawData = '{{ results|safe }}';
        const data = JSON.parse(rawData);
        document.addEventListener('DOMContentLoaded', function() {
            // Call the renderVisualization function with the response data
            renderVisualization(data);

            const pathName = window.location.pathname;

            // Split the pathname by '/' and filter out any empty strings
            const pathSegments = pathName.split('/').filter(segment => segment);

            // Assuming the ID is always the last segment
            const id = pathSegments[pathSegments.length - 1];
            
            const textContainers = document.querySelectorAll('.text-data-container');

            // textContainers.forEach(function(div, index) {
            //     div.addEventListener('click', function() {
            //         window.location.href = `/cluster/${id}/${index}/`;
            //     });
            // });
        });
    </script>
{% endblock content %}
