<!-- data_visualization_template.html -->
{% load static %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


{% block content %}
<div class="graph-text-pair-container">
    <div class="text-data-container">
        <!-- Text content goes here -->
    </div>
    <div class="graph-container">
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-2.16.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/css-element-queries/1.2.3/ResizeSensor.js"></script>
<script>
function renderVisualization(data) {
    // Select the existing 'data-visualization' container from the implementing file
    let dataVisualizationContainer = document.querySelector('.data-visualization');

    // Ensure the 'data-visualization' container exists
    if (dataVisualizationContainer) {
        // Clear the container before adding new content
        dataVisualizationContainer.innerHTML = '';

        // Iterate over each data result pair
        data.forEach((dict,index) => {
            const {figs, metrics, model_config, model_stats, cluster_id} = dict;
            const pathName = window.location.pathname;

            // Split the pathname by '/' and filter out any empty strings
            const pathSegments = pathName.split('/').filter(segment => segment);
            const group_id = pathSegments[pathSegments.length - 1];


            let cluster_container = document.createElement('div');
            cluster_container.classList.add('cluster-container');

            let button_container = document.createElement('div');
            button_container.classList.add('button-container');

            // Create the container for the graph-text pair
            let pairContainer = document.createElement('div');
            pairContainer.classList.add('graph-text-pair-container');

            cluster_container.appendChild(button_container);
            cluster_container.appendChild(pairContainer);

            graphStatsContainer = document.createElement('div');
            graphStatsContainer.classList.add('graph-stats-container');

            let viewClusterButton = document.createElement('button');
            viewClusterButton.innerHTML = "View Cluster";
            viewClusterButton.classList.add('view-cluster-button');
            viewClusterButton.addEventListener('click', function() {
                window.location.href = `/cluster/${group_id}/${cluster_id}/`;
            });
            button_container.appendChild(viewClusterButton);

            let train_new_model_button = document.createElement('button');
            train_new_model_button.innerHTML = "Train New Model";
            train_new_model_button.classList.add('train-new-model-button');
            train_new_model_button.addEventListener('click', function() {
                // Send post request to train new model
                fetch(`/cluster/${group_id}/${cluster_id}/train-models/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'group_id': group_id,
                        'cluster_id': cluster_id
                    })
                })
            });
            button_container.appendChild(train_new_model_button);
 
            if (metrics === null) {

                figs.forEach(fig => {
                // Create the container for the graph
                let graphContainer = document.createElement('div');
                graphContainer.classList.add('graph-container');

                // Append the graph container to the pair container
                pairContainer.appendChild(graphContainer);

                // Render the figure using Plotly
                Plotly.newPlot(graphContainer, fig.data, fig.layout, {responsive: true});
            
                });

                dataVisualizationContainer.appendChild(cluster_container);
   
                return;
            }

            if (Object.keys(model_stats).length > 0) {
                const epochs = model_stats.effective_epochs;
                const error = model_stats.error;

                // add epochs and error text to top of pair container
                let epochsErrorContainer = document.createElement('div');
                epochsErrorContainer.classList.add('epochs-error-container');
                let epochsError = document.createElement('p');
                epochsError.innerHTML = `Epochs: ${epochs} | Error: ${error}`;
                epochsError.classList.add('epochs-error');
                epochsErrorContainer.appendChild(epochsError);
                
                graphStatsContainer.appendChild(epochsErrorContainer);
 
            }

            graphStatsContainer.appendChild(pairContainer);
            cluster_container.appendChild(graphStatsContainer);
            dataVisualizationContainer.appendChild(cluster_container);


            figs.forEach(fig => {
                // Create the container for the graph
                let graphContainer = document.createElement('div');
                graphContainer.classList.add('graph-container');

                // Append the graph container to the pair container
                pairContainer.appendChild(graphContainer);

                // Render the figure using Plotly
                Plotly.newPlot(graphContainer, fig.data, fig.layout, {responsive: true});
            
            });
            populateTextDataContainer(metrics,model_config,pairContainer,index);
        });
    } else {
        console.error('data-visualization container not found');
    }
}
function text(){
    console.log("hello")
}


function populateTextDataContainer(results,model_config,pairContainer,index) {
    let textContainer = document.createElement('div');
    textContainer.classList.add('text-data-container');

    if (results === undefined) {
        textContainer.textContent = 'No results to display';
        return;
    }
    // Display summary in a single line
    let summary = `Train length: ${results.train_set_length} | Test length: ${results.test_set_length} | Cluster Number: ${results.cluster_label}`;
    let summaryP = document.createElement('p');
    summaryP.textContent = summary;
    summaryP.classList.add('summary-line');
    textContainer.appendChild(summaryP);

    // Function to create and append step data
    results.step_accuracy.forEach((acc, index) => {
        let stepData = document.createElement('p');
        stepData.innerHTML = `Step: ${index + 1} <span class="percentage">${Math.round(acc)}%</span> Weighted: <span class="percentage">${Math.round(results.step_accuracy_weighted[index])}%</span> | PredRet: <span class="num">${results.step_predicted_return[index].toFixed(2)}</span> | ActRet: <span class="num">${results.step_actual_return[index].toFixed(2)}</span> | p/l: <span class="num">${results.step_p_l[index].toFixed(2)}</span>`;
        stepData.classList.add('step-line');
        textContainer.appendChild(stepData);
    });

    if (model_config) {
        let modelSummaryContainer = document.createElement('div');
        modelSummaryContainer.classList.add('model-summary-container');

        let modelSummary = document.createElement('pre');
        modelSummary.textContent = model_config.summary_string;
        modelSummary.classList.add('model-summary');
        modelSummaryContainer.appendChild(modelSummary);

        textContainer.appendChild(modelSummaryContainer);

        // Create a container for the model features
        let modelFeaturesContainer = document.createElement('div');
        modelFeaturesContainer.classList.add('model-features-container');

        let modelFeatures = document.createElement('p');
        // Assuming model_features is an array, join it into a string
        modelFeatures.textContent = model_config.model_features.join(', ');
        modelFeatures.classList.add('model-features');
        modelFeaturesContainer.appendChild(modelFeatures);

        // Append the features container to the pairContainer
        pairContainer.appendChild(modelFeaturesContainer);
    }

    // Continue appending other elements as needed
    pairContainer.appendChild(textContainer);
}





</script>
{% endblock %}