{% extends 'ClusterPipeline/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/visualization_styles.css' %}">
        <!-- Include any additional CSS or JS specific to cluster_group.html -->
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <style>

        /* Left side content styles (if exists) */
        .left-content {
            width: 40%;
            /* additional styles */
        }
        .data-visualization {
            display: flex;
            flex-direction: column; /* Stack children vertically */
            width: 70%; /* Full width of the parent */
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto; /* Vertical scroll for overflow */
        }
    </style>
{% endblock extrahead %}


{% block content %}
    <!-- Include the cluster visualization template -->


        <!-- Left side content (if exists) -->


    <div class="left-content">
        <!-- Other content goes here -->
        <select id="dataSelection">
            {% for item in menu_items %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <button id="loadDataButton">Load Data</button>
    </div>

    <!-- Data visualization container -->
    <div class="data-visualization">
        <!-- Include the cluster visualization template -->
        {% include 'ClusterPipeline/cluster_visualization.html' %}
    </div>


    <script>
        document.getElementById('loadDataButton').addEventListener('click', function() {
            // Make a POST request to the server
            showLoader();
            let formData = {};
            formData['cluster_group'] = document.getElementById('dataSelection').value;
            console.log(formData);
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Additional headers here
                },
                body: JSON.stringify( formData )
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                console.log(typeof data)
                // Call the renderVisualization function with the response data
                renderVisualization(data);
            })
            .catch(error => console.error('Error:', error))
            .finally(() => hideLoader());
        });
    </script>
{% endblock content %}
