{% extends 'ClusterPipeline/base.html' %}
{% load static %}

{% block extrahead %}
        <!-- Include any additional CSS or JS specific to cluster_group.html -->
    <link rel="stylesheet" href="{% static 'css/visualization_styles.css' %}">
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <style>
        .parent-container {
            min-height: 100vh; 
        }
        .prediction-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: stretch; /* This will make sure that children stretch to fill the width */
            height: 100%;
        }

        .form-container {
            display: flex;
            flex-direction: row; /* Align form children horizontally */
            width: 100%; /* Ensure the container takes up all the horizontal space */
            /* Remove justify-content if you want the form to start from the beginning */
            align-items: left;
            /* If you have padding or margin that you don't want, you can remove or adjust them here */
            height: 75px;

        }

        .form-container form {
            display: flex;
            flex-direction: row; /* Align form children horizontally */
            width: 100%; /* Expand form to fill its container */
            justify-content: space-between; /* Distribute children evenly */
            align-items: center; /* Center children vertically */
            flex-wrap: wrap; /* Allow form items to wrap on smaller screens */
            gap: 10px; /* Provide some space between form items */
        }

        .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 10px; /* Add some margin on the left and right */
        }

        .input-group label {
            margin-bottom: 5px;
        }

        .input-group:last-child {
            margin-right: 0; /* No margin for the last input group */
        }

        .input-group select,
        .input-group input[type="text"],
        .input-group input[type="date"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: auto; /* Width should be auto to accommodate content */
        }

        .load-data-button-container
        {
            display: flex;

            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .loadDataButton {
            padding: 8px 16px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .pred-graph-container {
            flex-grow: 1; /* Grow to take remaining space */
            border: 2px solid #3498db; /* Border as per the layout image */
            margin: 10px 0; /* Margin at the top and bottom */
            padding: 10px;
            width: 100%;
            min-height: 500px; /* Height of the graph container */
        }

        .button-row-wrapper {
            overflow-x: auto; /* Enable horizontal scrolling */
            margin-bottom: 10px; /* Space below the button row */
            width: 100%;
        }

        .button-row {
            display: flex;
            white-space: nowrap; /* Keep buttons in a single row */
            padding: 10px;
        }

        .detail-button {
            margin-right: 10px; /* Space between buttons */
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .active-detail-button {
            background-color: #367c39; /* Darker shade of green */
            color: white;
        }

        .prediction-button {
            margin-right: 10px; /* Space between buttons */
            padding: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .active-prediction-button {
            background-color: #367c39; /* Darker shade of green */
            color: white;
        }

        /* Add this if you want to limit the height of the button row */
        .button-row-wrapper {
            min-height: 10%;
        }
        .detailed-prediction-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cluster-container {
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 100%;
            margin: 10px 0;
        }
        .data-visualization {
            display: flex;
            flex-direction: column; /* Stack children vertically */
            width: 100%; /* Full width of the parent */
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto; /* Vertical scroll for overflow */
        }
        .green-background {
            background-color: rgba(144, 238, 144, 0.5); /* Light green with transparency */
        }

        .red-background {
            background-color: rgba(255, 99, 71, 0.5); /* Light red with transparency */
        }
        .dataframe-container {
            flex: 1 0 auto;
            overflow-x: auto; /* Allows scrolling if the table is wider than the container */
            margin: 20px; /* Spacing around the container */
            padding: 10px;
            border: 1px solid #ddd; /* Light grey border */
            background-color: #f9f9f9; /* Light grey background */
            box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
            border-radius: 4px; /* Slightly rounded corners */
            
        }
    
        .dataframe-container table {
            width: 100%; /* Full width of the container */
            border-collapse: collapse; /* Removes double borders */
        }
    
        .dataframe-container th,
        .dataframe-container td {
            border: 1px solid #ddd; /* Light grey border for cells */
            padding: 8px; /* Spacing within cells */
            text-align: left; /* Align text to the left */
            font-size: 0.9em; /* Slightly smaller font size */
        }
    
        .dataframe-container th {
            background-color: #f1f1f1; /* Slightly darker background for headers */
            font-weight: bold; /* Bold font for headers */
        }
    
        .dataframe-container tr:nth-child(even) {
            background-color: #ffffff; /* White background for even rows */
        }
    
        .dataframe-container tr:nth-child(odd) {
            background-color: #f9f9f9; /* Light grey background for odd rows */
        }
    

    </style>
{% endblock extrahead %}

{% block content %}
    <!-- Include the cluster visualization template -->
    <div class="prediction-container"> 
        <div class="form-container">
            <form method="get" action="{% url 'ClusterCast-forcast' %}">
                <div class="input-group">
                    <label for="tickers">Ticker:</label>
                    <select id="ticker" name="ticker">
                        {% for tickerVal in tickers %}
                            <option value="{{ tickerVal }}" {% if tickerVal == ticker %}selected{% endif %}>{{ tickerVal }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <label for="interval">Interval:</label>
                    <input type="text" id="interval" name="interval" value="{{ interval }}">
                </div>
                <div class="input-group">
                    <label for="start">Prediction Start:</label>
                    <input type="date" id="start" name="start" value="{{ prediction_start_date }}">
                </div>
                <div class="input-group">
                    <label for="end">Prediction End:</label>
                    <input type="date" id="end" name="end" value="{{ prediction_end_date }}">
                </div>
                <button type="submit" class="loadDataButton" onclick="showLoader()">Predict</button>
                <button type="button" class="loadDataButton" onclick="updatePredictions()">Save Prediction</button>
                <button type="button" class="shuffle" >Shuffle Models</button>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      var loadDataButton = document.querySelector('.shuffle');
                      loadDataButton.classList.add('loadDataButton');
                      loadDataButton.addEventListener('click', shuffleModels);
                    });
                  </script>

            </form>
        </div>          
    
        <div class="pred-graph-container">
            <!-- Call the function inside DOMContentLoaded event listener -->
            <script type="text/javascript">
                stock_predictions = JSON.parse(`{{ stock_predictions|safe }}`);
                document.addEventListener('DOMContentLoaded', function() {
                    dates = JSON.parse(`{{ dates|safe }}`);
                    closeDfAll = JSON.parse(`{{ close_df|safe }}`);
                    closeDf = closeDfAll.data.slice(-50);
                    visualizeFuturePredictions(stock_predictions, closeDfAll);
                });
            </script>
        </div>
        <div class="button-row-wrapper">
            <div class ="button-row" id="predictionButtonsContainer">
                <!-- Call the function inside DOMContentLoaded event listener -->
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function() {
                        const stock_predictions = JSON.parse(`{{ stock_predictions|safe }}`);
                        createPredictionButtons(stock_predictions);
                    });
                </script>
            </div>
        </div>
        <div class="detailed-prediction-container">
            <div class="cluster-container">
                <div class="data-visualization">
                    {% include 'ClusterPipeline/cluster_visualization.html' %}
                </div>
            </div>
        </div>
        <div class="dataframe-container">
            <!-- {{ dataframe_html|safe }} -->
        </div>
    </div>

<!-- Define the renderPredictionGraph function before your content block -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

    var organized_predictions;
    var closeDf;
    var stock_predictions;
    var dates; 

    function OrganizePredictions(predictions, dates) {
        organized_predictions = {}; 

        predictions.forEach(prediction => {
            prediction.results.forEach(results => {
                results.predicted_dates.forEach((date, index) => {
                    const predicted_value = results.predicted_values[index];
                    const modelId = results.model_id;
                    const status = results.status;
                    const predictionId = prediction.prediction_id;
                    
                    if (predicted_value == null || status !== true) {
                        return;
                    }

                    if (dates.includes(date)) {
                        if (!organized_predictions[date]) {
                            organized_predictions[date] = [];
                        }

                        organized_predictions[date].push({
                            prediction_id : predictionId,
                            model_id : modelId,
                            predicted_value : predicted_value
                        })
                    }
                })
            })
        })
        return organized_predictions;
    }

        // Function to process the prediction DataFrame
    function processPredictionData(organized_predictions) {
        const dateStats = {};
        Object.keys(organized_predictions).forEach(date => {
            const values = organized_predictions[date].map(prediction => prediction.predicted_value);
            
            // Ensure values are numbers and filter out any non-numeric values
            const numericValues = values.map(value => parseFloat(value)).filter(value => !isNaN(value));

            // Compute stats only if there are numeric values
            if (numericValues.length > 0) {
                dateStats[date] = {
                    median: computeMedian(numericValues),
                    iqr: computeIQR(numericValues)
                };
            }
        });

        return dateStats;
    }

    function visualizeFuturePredictions(stock_predictions, closeDfAll) {

        organized_predictions = OrganizePredictions(stock_predictions, dates);
        const predictionStats = processPredictionData(organized_predictions);


        const closingDates = closeDf.map(row => row[0]);
        const closePrices = closeDf.map(row => row[1]);

        // Create trace for prediction dates
        let predictionDates = Object.keys(predictionStats).map(key => key);
        const medianPredictions = Object.values(predictionStats).map(stat => stat.median);
        const iq1Predictions = Object.values(predictionStats).map(stat => stat.median - stat.iqr);
        const iq3Predictions = Object.values(predictionStats).map(stat => stat.median + stat.iqr);
        console.log(predictionStats)

        // For percentChange calculation, ensure 'closePrices' is an array of numbers and has at least one price
        const lastClosePrice = closePrices[closePrices.length - 1]; // Get the last close price just once to use in calculation
        const percentChange = Object.values(predictionStats).map(stat => ((stat.median - closePrices.slice(-1)) / closePrices.slice(-1)) * 100);

        const allDates = Array.from(new Set([...closingDates, ...predictionDates])).sort();
        const allDatesTrimmed = allDates.map(date => date.split(' ')[0]);
        
        let closePricesAligned = new Array(allDates.length).fill(null);
        let medianPredictionsAligned = new Array(allDates.length).fill(null);
        let iq1PredictionsAligned = new Array(allDates.length).fill(null);
        let iq3PredictionsAligned = new Array(allDates.length).fill(null);

        closingDates.forEach((date, i) => {
            const index = allDates.indexOf(date);
            console.log(index)
            console.log(date)
            if (index !== -1) {
                closePricesAligned[index] = closePrices[i];
            }
        });

        console.log(closePricesAligned)

        console.log(percentChange)

        predictionDates.forEach((date) => {
            const position = allDates.indexOf(date);
            if (position !== -1 && predictionStats[date] !== undefined) {
                medianPredictionsAligned[position] = predictionStats[date].median;
                iq1PredictionsAligned[position] = predictionStats[date].median - predictionStats[date].iqr;
                iq3PredictionsAligned[position] = predictionStats[date].median + predictionStats[date].iqr;
            }
        });

        let percentChangeAligned;
        num_nulls = allDates.length - percentChange.length 
        if (num_nulls > 0) {
            const nulls = new Array(num_nulls).fill(null);
            percentChangeAligned = nulls.concat(percentChange);
        }
        else {
            percentChangeAligned = percentChange;
        }
            
        if (predictionDates.length === 0) {
            const closingPricesTrace = {
                x: closingDates,
                y: closePrices,
                mode: 'lines+markers',
                name: 'Closing Prices'
            };

            const layout = {
                title: 'Closing and Predicted Prices',
                xaxis: {
                    title: 'Date',
                    type: 'category',  // Specify x-axis as categorical
                    tickvals: allDatesTrimmed,
                    ticktext: allDatesTrimmed,
                    tickangle: -45  // Optional: Adjust for better label visibility
                },
                yaxis: { title: 'Price' },
                hovermode: 'x',
            };

            const data = [closingPricesTrace]; // Add more traces as needed

            let graphContainer = document.querySelector('.pred-graph-container');
            graphContainer.innerHTML = '';
            Plotly.newPlot(graphContainer, data, layout);

            return;

        }

        closingPricesTrace = {
            x: allDatesTrimmed,
            y: closePricesAligned,
            mode: 'lines+markers',
            name: 'Closing Prices'
        };

        const predictionDatesTrace = {
            x: allDatesTrimmed,
            y: medianPredictionsAligned,
            mode: 'lines+markers',
            name: 'Median Predictions',
            line: { color: 'red' }
        };

            // Create IQR traces
        const iq1Trace = {
            x: allDatesTrimmed,
            y: iq1PredictionsAligned,
            fill: 'none',
            mode: 'lines',
            line: { color: 'lightgreen' },
            showlegend: false
        };

        const iq3Trace = {
            x: allDatesTrimmed,
            y: iq3PredictionsAligned,
            fill: 'tonexty',
            mode: 'lines',
            line: { color: 'lightgreen' },
            name: 'Predictions IQR'
        };

        const annotations = allDatesTrimmed.map((date, i) => {
            console.log(percentChangeAligned[i])
            if (percentChangeAligned[i] === null || percentChangeAligned[i] === undefined) {
                return null;
            }
            return {
                x: allDatesTrimmed[i],
                y: medianPredictionsAligned[i],
                text: `${percentChangeAligned[i].toFixed(2)}%`,
                xshift: 5,  // horizontal shift (in pixels)
                yshift: 20, // vertical shift (in pixels)
                showarrow: false,
            };
        });

        // Plot using Plotly.js

        const layout = {
            title: 'Closing and Predicted Prices',
            xaxis: {
                title: 'Date',
                type: 'category',  // Specify x-axis as categorical
                tickvals: allDatesTrimmed,
                ticktext: allDatesTrimmed,
                tickangle: -45  // Optional: Adjust for better label visibility
            },
            yaxis: { title: 'Price' },
            hovermode: 'x',
            annotations: annotations  // Assuming annotations are already defined
        };

        const data = [closingPricesTrace, predictionDatesTrace, iq1Trace, iq3Trace]; // Add more traces as needed

        if (document.querySelector('.active-prediction-button')) {
            const date = document.querySelector('.active-prediction-button').textContent;
            const active_prediction = stock_predictions.find(prediction => prediction.prediction_start_date.split(' ')[0] === date);
            const organized_active = OrganizePredictions([active_prediction], dates);
            const active_stats = processPredictionData(organized_active);
            let active_dates = Object.keys(organized_active).map(key => key);
            const active_median = Object.values(active_stats).map(stat => stat.median);
            console.log(active_median)

            activeMedianAligned = new Array(allDates.length).fill(null);

            active_dates.forEach(date => {
                const position = allDates.indexOf(date);
                if (position !== -1 && active_stats[date] !== undefined) {
                    activeMedianAligned[position] = active_stats[date].median;
                }
            });


            const active_prediction_dates_trace = {
                x: allDatesTrimmed,
                y: activeMedianAligned,
                mode: 'lines+markers',
                name: 'Median Predictions',
                line: { color: 'purple' }
            };
            data.push(active_prediction_dates_trace);
        }



        let graphContainer = document.querySelector('.pred-graph-container');
        graphContainer.innerHTML = '';
        Plotly.newPlot(graphContainer, data, layout);
    }

    function createPredictionButtons(stock_predictions) {
        let container = document.getElementById('predictionButtonsContainer');

        stock_predictions.forEach(prediction => {
            let button = document.createElement('button');
            button.classList.add('prediction-button');
            button.textContent = prediction.prediction_start_date.split(' ')[0];
            button.addEventListener('click', function() {
                toggleDateButton(button, prediction);
            });
            container.appendChild(button);
        });
    }
    
    function populatePredictionDetails(prediction)
    {
        prediction_id = prediction.prediction_id;
        detailed_container = document.querySelector('.detailed-prediction-container');
        detailed_container.innerHTML = '';
        let button = document.createElement('button');
        button.classList.add('detail-button');
        button.textContent = 'Go To Prediction';
        button.addEventListener('click', function() {
            window.open(`/predict/${prediction_id}`, '_blank');
        });
        detailed_container.appendChild(button);
        fetchAndDisplayHtmlFiles(prediction);
    }

    function fetchAndDisplayHtmlFiles(prediction) {
        const predictionId = prediction.prediction_id;
        fetch(`/get_prediction_vis_files/${predictionId}/`)
            .then(response => response.json())
            .then(files => {
                const container = document.querySelector('.detailed-prediction-container');

                for (const [clusterId, fileContent] of Object.entries(files)) {
                    let clusterContainer = document.createElement('div');
                    clusterContainer.classList.add('cluster-container');
                    let iframe = document.createElement('iframe');
                    iframe.srcdoc = fileContent;
                    iframe.id = `${clusterId}`;  // Assign an ID to the iframe
                    iframe.style.width = '100%';
                    iframe.style.height = '500px';
                    clusterContainer.appendChild(iframe);

                    // Add a button to retrieve associated models 
                    let button = document.createElement('button');
                    button.classList.add('detail-button');
                    button.textContent = 'Get Models ' + `${clusterId}`;
                    button.addEventListener('click', function() {
                        toggleDetailButton(button, clusterId, prediction.prediction_start_date);
                    });
                    clusterContainer.appendChild(button);
                    clusterContainer.id = `${clusterId}`;  // Assign an ID to the iframe

                    container.appendChild(clusterContainer);
                }
            })
            .catch(error => console.error('Failed to fetch prediction visualization files:', error));
    }

    function fetch_models(clusterId, prediction_start_date)
    {
        const clusterIdStr = String(clusterId);
        const predictionStartDateStr = String(prediction_start_date);
    
        prediction = stock_predictions.find(prediction => prediction.prediction_start_date === predictionStartDateStr);

        // Now filter the predDf array and map to model_id
        const model_ids = prediction['results']
        .filter(row => String(row.cluster_id) === clusterIdStr)
        .map(row => row.model_id);


        // Log the resulting model_ids
        fetch(`/get_models/${model_ids}/`)
        .then(response => {
            // Check if the response is OK (status code 200-299)
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Parse the JSON from the response
        })
        .then(modelResults => {
            // Access the model_results from the JSON data


            const clusterContainer = document.getElementById(`${clusterId}`);
            const data_visualization_container = document.createElement('div');
            data_visualization_container.classList.add('data-visualization');
            clusterContainer.appendChild(data_visualization_container);
            
            renderVisualization(modelResults);

            document.querySelectorAll('.graph-stats-container').forEach((container,index) => {
                container.width = '100%';
                console.log(`index: ${index} `);
                console.log(`model_ids[index]: ${model_ids[index]} `);
                console.log(`predictionStartDateStr: ${predictionStartDateStr} `);

                results = prediction['results'];
                const modelPrediction = results.find(row => (row.model_id) === (model_ids[index]));

                const predArr = modelPrediction['predicted_values'];

                const close_price = modelPrediction['prev_day_price']

                
                const containerStatus = modelPrediction.status; 
                

                const cum_pct_chg = [];
                predArr.forEach((val, index) => {
                    if (val == null) {  // Corrected the if condition syntax and NaN check
                        cum_pct_chg.push(0);
                    } else {
                        cum_pct_chg.push(((val - close_price) / close_price * 100).toFixed(2));
                    }
                });
                
                if (containerStatus === true ) {
                    container.classList.add('green-background');
                } else {
                    container.classList.add('red-background');
                }
                const arrString = cum_pct_chg.toString();
                const new_div = document.createElement('div');
                new_div.innerHTML = arrString;
                container.appendChild(new_div);

                // Adding CSS to center the text horizontally
                new_div.style.textAlign = 'center';

                // If you also want to center the text vertically, you can use the following:
                new_div.style.display = 'flex';
                new_div.style.justifyContent = 'center';
                new_div.style.alignItems = 'center';
                // If the div doesn't have a specified 
        

                // Add the event listener correctly
                container.addEventListener('click', () => toggleContainer(container, modelPrediction, predictionStartDateStr));
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });

        }

    function calculateMean(arr) {
        const sum = arr.reduce((acc, val) => acc + val, 0);
        return sum / arr.length;
    }

    function computeMedian(arr)
    {
        const sortedArr = arr.slice().sort((a, b) => a - b);
        const mid = Math.floor(sortedArr.length / 2);
        return sortedArr.length % 2 !== 0 ? sortedArr[mid] : (sortedArr[mid - 1] + sortedArr[mid]) / 2;
    }

    function computeIQR(arr) {
        const sortedArr = arr.slice().sort((a, b) => a - b);
        const q1 = computeMedian(sortedArr.slice(0, Math.floor(sortedArr.length / 2)));
        const q3 = computeMedian(sortedArr.slice(Math.ceil(sortedArr.length / 2)));
        return q3 - q1;
    }   

    function toggleDateButton(button, prediction) {
        // Remove the active class from all buttons
        if (button.classList.contains('active-prediction-button')) {
            // delete the prediction detail container
            document.querySelector('.detailed-prediction-container').innerHTML = '';
            button.classList.remove('active-prediction-button');
        }
        else
        {
            document.querySelectorAll('.prediction-button').forEach(btn => {
                btn.classList.remove('active-prediction-button');
            });

            // Add the active class to the clicked button
            button.classList.add('active-prediction-button');

            populatePredictionDetails(prediction);
        }
        visualizeFuturePredictions(stock_predictions, closeDf);
    }

    function toggleDetailButton(button, clusterId, prediction_start_date) {
        // Remove the active class from all buttons
        if (button.classList.contains('active-detail-button')) {
            button.classList.remove('active-detail-button');
            document.querySelector('.data-visualization').remove();
        }
        else
        {
            document.querySelectorAll('.detail-button').forEach(btn => {
                btn.classList.remove('active-detail-button');
            });

            if (document.querySelector('.data-visualization')) {
                document.querySelector('.data-visualization').remove();
            }

            // Add the active class to the clicked button
            button.classList.add('active-detail-button');
            fetch_models(clusterId,prediction_start_date);
        }
    }

    function toggleContainer(container, modelPrediction, prediction_start_date) {
        
        currentStatus = modelPrediction.status;

        const newStatus = currentStatus === true ? false : true;

        

        if (container.classList.contains('green-background')) {
            container.classList.remove('green-background');
            container.classList.add('red-background');

            const foundItems = []
            stock_predictions.forEach(prediction => {
                prediction.results.forEach(sameModel => {
                    if (modelPrediction.model_id == sameModel.model_id) {
                        foundItems.push(sameModel)
                    }
                })
            })

            foundItems.forEach(item => {
                if (item.status !== newStatus) {
                    item.status = newStatus;
                }
            });

        } else {
            container.classList.remove('red-background');
            container.classList.add('green-background');

            const foundItems = []
            stock_predictions.forEach(prediction => {
                prediction.results.forEach(sameModel => {
                    if (modelPrediction.model_id == sameModel.model_id) {
                        foundItems.push(sameModel)
                    }
                })
            })

            foundItems.forEach(item => {
                if (item.status !== newStatus) {
                    item.status = newStatus;
                }
            });
        }
        visualizeFuturePredictions(stock_predictions, closeDf);
    }

    function updatePredictions() {

        fetch('', { // Replace with your actual endpoint
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Add any other headers your server requires, like authentication tokens
            },
            body: JSON.stringify({ stock_predictions })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            // Handle success
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle errors
        });
    }

    function shuffleModels()
    {   
        const switchProbability = .2;
        
        stock_predictions.forEach(prediction => {
            prediction.results.forEach(row => {
                row.status = false;
            })
        })

        stock_predictions.forEach(prediction => {
            prediction.results.forEach(row => {
                const rand = Math.random();
                console.log(rand)
                if (rand < switchProbability && row.status !== 1) {
                    console.log('Switching')
                    // Perform the switch/action only 20% of the time
                    row.status = true;
                }
            })
        })
        visualizeFuturePredictions(stock_predictions, closeDf);

    }

</script>
{% endblock content %}


