
.graph-text-pair-container {
    display: flex;
    flex-direction: row; /* Align children horizontally */
    justify-content: space-between; /* Distribute space between graph and text */
    align-items: center; /* Vertically align items in the center */
    width: 100%; /* Full width of the parent container */
    margin-bottom: 20px; /* Space between each pair */
    box-sizing: border-box; /* Include padding and border in the element's width */
    background-color: rgba(211, 211, 211, 0.5); /* Light grey with transparency */
    transition: background-color 0.3s; 
    padding: 10px; 
    position: relative;
}

.graph-text-pair-container:hover {
    background-color: rgba(169, 169, 169, 0.5); /* Darker grey on hover */
}

.graph-container {
    flex: 1; /* Grow to available space */
    max-width: 33%; /* Maximum width of the graph container */
    height: auto; /* Maintain aspect ratio of the graph */
    position: relative; /* Set the position context for the plot */
    min-width: 0; /* If you're having issues with overflow, start with 0 */
    justify-content: center;
    align-items: center;
}

.text-data-container {
    flex: 1; /* Allows the text container to grow and take available space */
    /* Optional: specify a min-width to ensure a minimum size for the text */
    min-width: 0; /* If you're having issues with overflow, start with 0 */
    /* Adjust padding or margin as needed */
    margin-left: 20px;
    height: 100%;
    flex-grow: 1;
    
}

.graph-stats-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.model-summary-container {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 10px; /* Adjust as needed */
    overflow-x: auto; /* Allows horizontal scrolling */
    overflow-y: auto;
    white-space: nowrap; /* Keep all text in a single line */
}

.model-summary {
    font-size: 0.8rem; /* Smaller font size */
    line-height: 1;
    color: #555; /* Slightly lighter text color */
    display: inline-block; /* Fit content width */
    max-width: 100%; /* Avoid overflow */
    margin: 0;
    padding: 0;
}

.model-features-container {
    position: absolute; /* Position at the bottom */
    bottom: 0;
    left: 0;
    right: 0;
    background: #f9f9f9; /* Light grey background */
    padding: 10px;
    text-align: center; /* Center-align the text */
}

.model-features {
    font-size: 0.8em;
    color: #333;
    margin: 0;
    white-space: nowrap;
    overflow: scroll;
}




.text-data-container h3 {
    font-weight: bold;
    margin-top: 10px;
}

.text-data-container p {
    margin: 2px 0;
    font-size: 0.9rem;
}

.preserve-whitespace {
    white-space: pre-wrap; /* Preserves whitespace and wraps text */
}

.metrics-card {
    background-color: #f9f9f9;
    border-left: 5px solid #4CAF50; /* Color indicates metric type */
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metrics-card:hover {
    background-color: #e9e9e9;
}

.metrics-card p {
    margin: 0;
    color: #333;
    font-size: 1rem;
}

.metrics-card span {
    font-weight: bold;
}
.text-data-container {
    font-family: Arial, sans-serif; /* A clean, readable font */
}

.summary-line {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Dark text for emphasis */
}

.step-line {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555; /* Slightly lighter for detailed info */
}

.step-line .percentage {
    font-weight: bold;
    color: #008800; /* Green for percentages */
}

.step-line .num {
    color: #000088; /* Blue for numerical values */
}

.cluster-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: rgba(211, 211, 211, 0.5);
    transition: background-color 0.3s;
    padding: 10px;
    position: relative;
}
.button-container {
    display: flex;
    flex-direction: row;
}
